<hr>
<footer class="site-footer">
  <div class="container">
    <div class="col-md-12">
      <p>© Crown copyright.  All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">Open Government Licence v2.0</a>, except where otherwise stated</p>
    </div>
  </div>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
